[Unit]
Description=Eventus ATS Node service
After=network.target

[Service]
Type=simple
User=__APP_USER__
WorkingDirectory=__APP_DIR__
EnvironmentFile=__APP_ENV_FILE__
ExecStart=/usr/bin/env npm start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
